// GLOBAL VARIABLES
:root {
    // primary colors
    --color-red-400: rgb(255, 82, 93);
    --color-red-300: rgb(255, 122, 133);

    --color-blue-400: rgb(31, 63, 90);
    --color-blue-500: rgb(37, 37, 45);

    --color-white:  rgb(255, 255, 255);
    --color-grey-400: rgb(200, 200, 203);
    --color-grey-500: rgb(76, 88, 98);
    
    // fonts
    --font-primary: 'Ubuntu', sans-serif;
    --font-secondary: 'Overpass', sans-serif;

    // grid
    --grid-edge: .9fr;
}

// MIXINS
@mixin gradient-primary {
     background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
}

@mixin gradient-secondary {
    background: linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
}

@mixin text {
        display: flex;
        flex-direction: column;
        gap: 6.4rem;
        min-width: 54rem;
        max-width: 65rem;
}

@mixin text-block {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
}

// UTILITY CLASS 
.pt-sm {margin-top: 1rem;}
.pt-md {margin-top: 2rem;}
.pt-lg {margin-top: 3rem;}
.pb-sm {margin-bottom: 1rem;}
.pb-md {margin-bottom: 2rem;}
.pb-lg {margin-bottom: 3rem;}
     
// RESPONSIVE BREAKPOINTS
$bp-l: 80.3125em; //   1285px / 16 = 80.3125em
$bp-m: 69.6875em; //   1115px / 16 = 69.6875em
$bp-s: 63.75em; //   1020px / 16 = 63.75em
