.footer {
    grid-column: full-start / full-end;

    z-index: 10;
    background-color: var(--color-blue-500);
    color: var(--color-white);
    border-radius: 0 100px 0 0;

    &__content {
        grid-column: middle-start / middle-end;
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        margin-top: 7rem;
        margin-bottom: 7rem;

        @media only screen and (max-width: $bp-s) {
            flex-direction: column;
            align-items: center;
          }
    }

    &__logo {
        height: min-content;

        @media only screen and (max-width: $bp-s) {
            margin-bottom: 3rem;
          }
    }

    &__nav {
        margin-top: .5rem;
        font-size: 1.5rem;
        line-height: 3.3rem;

        display: flex;
        flex-grow: 2;
        justify-content: center;
        gap: 15vw;

        @media only screen and (max-width: $bp-m) {
            gap: 10vw;
          }

        @media only screen and (max-width: $bp-xs) {
            flex-direction: column;
            align-items: center;
            gap: 4rem;
          }
    }

    &__nav-heading {
        margin-bottom: 2.3rem;

    }

    &__nav-links {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        opacity: .75;
    }

    &__nav-link {
        &:hover {
            text-decoration: underline;
            text-underline-position: under;
        }
    }
}