.header {  
    grid-column: full-start / full-end;

    @include gradient-primary;
    
    color: var(--color-white);
    border-radius: 0 0 0 100px;

   


    .nav {
        grid-column: middle-start / middle-end;

        display: grid;
        align-items: center;
        grid-template-columns: max-content 1fr max-content;
        column-gap: 6%;
        margin-top: 6.3rem;
        margin-bottom: 12rem;
        z-index: 10;
        
        &__links {
            grid-column: 2 / 4;

            display: flex;
            gap: 3.2rem;
        }

        &__link {
            display: flex;
            align-items: baseline;
            gap: .8rem;

            &:hover > .nav__icon {
                transform: rotate(180deg);
            }
        }

        &__icon {
            transition: all .2s;
        }

        &__cta {
            grid-column: 8/9;

            display: flex;
            align-items: center;
            gap: 2rem;  
        }
    }

    .hero {
        grid-row: 2 / 3;
        grid-column: middle-start / middle-end;
        justify-self: center;
        text-align: center;

        margin-bottom: 15.5rem;
        z-index: 10;

        &__cta {
            margin-top: 4.8rem;
        }
    }

    &__bg-image-box {
        position: absolute;
        z-index: 1;
        min-width: max-content;
        top: -132rem;
        left: -42rem;
    }
}

.nav__icon {
    color: blue;
    // width: 20rem;
}