.info-3 {
  background-color: var(--color-white);

  grid-column: full-start / full-end;

  z-index: 10;
  color: var(--color-blue-400);
  padding-bottom: 11.6rem;
  padding-top: 11.6rem;

  @media only screen and (max-width: $bp-m) {
   padding-top: 7.9rem;
  }

  &__content {
    grid-column: full-start / middle-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
    margin-left: -28rem;

    @media only screen and (max-width: $bp-m) {
      grid-column: middle-start / middle-end;
      flex-direction: column;
      gap: 4.6rem;
      margin: 0;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    margin-left: -5rem;
    @include text-width;

    @media only screen and (max-width: $bp-m) {
      order: 2;
      min-width: none;
      margin: 0;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 3.4rem;
  }

  &__image-box {
    min-width: max-content;

    @media only screen and (max-width: $bp-xl) {
      min-width: 80rem;
      margin-left: -9rem;
    }

    @media only screen and (max-width: $bp-l) {
      min-width: 60rem;
      margin-left: 0;
    }

    @media only screen and (max-width: $bp-m) {
      order: 1;
      min-width: max-content;
    }

    @media only screen and (max-width: $bp-xs) {
      min-width: fit-content;
    }
  }
}
